@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.container {
  padding: 0 2rem;
}

.authMenu {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}
